@tailwind base;
@tailwind components;
@tailwind utilities;

.sexual {
	@apply text-main font-semibold;
}

.tech {
	@apply text-accent font-semibold;
}

@layer utilities {
	.under-hover {
		text-decoration: none;
	}

	.sexual {
		@apply text-main font-semibold;
	}

	.tech {
		@apply text-accent font-semibold;
	}

	.under-hover::after {
		content: "";
		display: block;
		width: 0;
		height: 5px;
		transition: width 0.3s ease-in;
	}

	.under-hover:hover::after {
		width: 100%;
	}

	.pulse {
		animation: pulse-animation infinite;
	}

	.pulse-big {
		animation: pulse-animation-big infinite;
	}

	.shake {
		animation: shake-animation 0.3s cubic-bezier(0.36, 0.07, 0.19, 0.97)
			infinite;
	}

	@keyframes pulse-animation {
		0% {
			box-shadow: 0 0 0 0px rgba(239, 71, 111, 0.3);
		}
		50% {
			box-shadow: 0 0 0 20px rgba(239, 71, 111, 0);
		}
		100% {
			box-shadow: 0 0 0 20px rgba(255, 255, 255, 0);
		}
	}

	@keyframes pulse-animation-big {
		0% {
			box-shadow: 0 0 0 0px rgba(239, 71, 111, 0.15);
		}
		40% {
			box-shadow: 0 0 0 30px rgba(239, 71, 111, 0);
		}
		100% {
			box-shadow: 0 0 0 30px rgba(255, 255, 255, 0);
		}
	}

	@keyframes shake-animation {
		0% {
			transform: translateX(0);
		}
		25% {
			transform: translateY(-3px);
		}
		35% {
			transform: translateY(-5px);
		}
		55% {
			transform: translateY(-2px);
		}
		65% {
			transform: translateY(-0px);
		}
		75% {
			transform: translateY(-3px);
		}
		100% {
			transform: translateY(0);
		}
	}
}
