@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
	.under-hover {
		text-decoration: none;
	}

	.under-hover::after {
		content: "";
		display: block;
		width: 0;
		height: 5px;
		transition: width 0.3s ease-in;
	}

	.under-hover:hover::after {
		width: 100%;
	}

	.pulse {
		animation: pulse-animation infinite;
	}

	.pulse-big {
		animation: pulse-animation-big infinite;
	}

	@keyframes pulse-animation {
		0% {
			box-shadow: 0 0 0 0px rgba(239, 71, 111, 0.3);
		}
		50% {
			box-shadow: 0 0 0 20px rgba(239, 71, 111, 0);
		}
		100% {
			box-shadow: 0 0 0 20px rgba(255, 255, 255, 0);
		}
	}

	@keyframes pulse-animation-big {
		0% {
			box-shadow: 0 0 0 0px rgba(239, 71, 111, 0.15);
		}
		40% {
			box-shadow: 0 0 0 30px rgba(239, 71, 111, 0);
		}
		100% {
			box-shadow: 0 0 0 30px rgba(255, 255, 255, 0);
		}
	}
}
